config SPL
	tristate "Solaris Porting Layer (SPL)"
	help
	  This is the SPL library from the ZFS On Linux project.

	  See http://zfsonlinux.org/

	  To compile this library as a module, choose M here.

	  If unsure, say N.
